:root {
  --primary-color: #ff5733;
  --primary-color-dark: #c42a0e;
  --secondary-color: #efefef;
  --background-color: #1c1c1c;
  --navbar-bg-color: #333333;
  --link-color: #ffa500;
  --button-hover-color: #23933b;
  --card-bg-color: #f3f0e6;
  --text-color: #1c1c1c;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  opacity: 0;
  transition: opacity 0.6s ease;
}

section {
  margin-top: 40px;
  margin-bottom: 160px;
}

h1,
h2 {
  color: var(--primary-color);
  margin-bottom: 60px;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--secondary-color);
  width: 80%;
  margin: 20px auto;
}

.section-header {
  text-align: center;
  border: 2px solid;
  padding: 10px;
  margin: 40px 100px;

}

.fade-in {
  opacity: 1; 
}

/* Navigation Bar */
.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--secondary-color);
  display: flex;
  font-size: 16px;
  justify-content: flex-end;
  padding: 10px;
  animation: slideAnimation 1s ease-in-out;
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar ul {
  justify-content: center;
  display: flex;
  list-style-type: none;
  margin: 16px 30px 16px 0px;
  padding: 0;
  margin-left: auto;
}

.navbar li {
  margin-left: 28px;
}

.navbar li a {
  color: var(--secondary-color);
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar li a:hover {
  color: var(--link-color);
}

/* About Me */
.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.about {
  align-items: center;
  display: flex;
}

.about-image {
  flex: 0 0 300px;
  transition: transform 0.3s ease-in-out;
}

.about-image img {
  border: 3px solid var(--primary-color);
  height: auto;
  width: 100%;
}

.about-image:hover {
  transform: scale(1.1);
}

.about-description {
  flex: 1;
  padding-left: 40px;
}

.moving-text {
  display: inline-block;
  position: relative;
  animation: jumpAnimation 1s ease-in-out 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
  color: white;
}

@keyframes jumpAnimation {
  0% {
    opacity: 0;
    transform: translateY(0);
    color: var(--link-color);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px);
    color: var(--primary-color-dark);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    color: var(--link-color);
  }
}

/* Projects */
.projects-container .row {
  margin-left: 80px;
  margin-right: 80px;
}

.projects-container h1 {
  text-align: center;
}

.card {
  height: 100%;
  margin: auto 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--background-color);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px black;
}

.card-body {
  background-color: var(--card-bg-color);
  padding: 20px;
  border-radius: 8px;
}

.card-text {
  color: var(--text-color);
}

.github-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--primary-color-dark);
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.github-button:hover {
  background-color: var(--button-hover-color);
}

/* Previous Work */
.previous-work-container {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  background-color: var(--page-background-color);
  color: var(--secondary-color);
  padding: 20px;
}

.grid-item h2 {
  margin-bottom: 10px;
}

.grid-item ul {
  padding-left: 20px;
}

.resume-form {
  color: var(--secondary-color);
  margin-left: 40px;
}

.resume-form h2 {
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.resume-form h3 {
  color: var(--link-color);
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

.resume-form p,
.resume-form ul,
.resume-form li {
  margin: 0;
  font-size: 14px;
}

.resume-form ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.music-player iframe {
  width: 300px;
  height: 300px;
  margin-bottom: 60px;
}

.icon-large {
  font-size: 40px;
}

/* Contact */
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.contact-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  height: 120px;
}

.form-group button {
  background-color: #d73027;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover,
.form-group button:focus {
  background-color: #e85a4f;
}

.modal-content {
  color: black;
}

/* Footer */
footer {
  background-color: var(--navbar-bg-color);
  padding: 10px;
  text-align: center;
  color: var(--secondary-color);
}

.footer-icons {
  font-size: 24px;
}

.footer-icons a {
  color: var(--secondary-color);
  margin: 0 40px;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: var(--link-color);
}

@media (max-width: 600px) {
  .about {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 960px) {
  .previous-work-container {
    flex-direction: column;
  }
}
