body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 231, 216);
  font-family: "Roboto", sans-serif;
}

/* Navigation Bar */
.navbar {
  background-color: rgb(224, 100, 105);
  color: #fff;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 10px;
}

.navbar-brand {
  color: rgb(242, 182, 160);
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #dedea7;
}

.navbar ul {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar li a:hover {
  color: rgb(222, 222, 167);
}

/* About Me */
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.about {
  align-items: center;
  display: flex;
}

.about-image {
  flex: 0 0 300px;
}

.about-image img {
  border-radius: 30%;
  height: auto;
  width: 100%;
}

.about-description {
  flex: 1;
  padding-left: 40px;
}
